.whole {
	width: 80%;
	height: auto;
	text-align: center;
	background-color: rgba(92, 132, 142, 0.4);
	/*background-image: url (img/whole.jpg);*/
	margin: 20px auto;
}
.lunboqi{
	width: 80%;
	height: auto;
	text-align: center;
	margin: 20px auto;
	
}
.carousel slide {
	background-color: black;
}

.carousel-inner img {
	margin: 0 auto;
}

.carousel-control {
	font-size: 80px;
	font-size: 18px;
}
.duanluo{
	background-color: rgba(206, 205, 195, 0.6);
	width: 80%;
	margin: 20px auto;
	border-top-right-radius: 100px;
	line-height: 30px;
}
