/*生成轮播图的CSS*/
/*整个轮播部分样式设置*/
.slider-relative {
	position:relative;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 0px solid #dadada;
	/*添加白色背景*/
	background: #C4E3F3;
}
/*对ul进行设置*/
.items {
	list-style: none;
	overflow: hidden;
}
/*整个轮播部分相对定位内家下外边距*/
.slider-block {
	position:relative;
	height: 583px;
	margin: 0 auto;
	margin-bottom: 63px;
}
/*设置轮播部分绝对定位*/
.slider {
	z-index:2;
	overflow: visible !important;
	height: 583px;
	position: absolute;
	left: 50%;
	margin-left: -616.5px;
	width: 1233px;
}
/*设置每个轮播图后面的文字子图和显示位置*/
.slider .banner{
	top: -1px;
	left: 932px;
	bottom: 0;
	padding-left: 42px;
	padding-right: 56px;
	position: absolute;
	font: normal 30px/36px Arial, Helvetica, sans-serif;
	color: #fff;
	padding-top: 193px;
	width: 203px;
	background: #333131;
}
/*让轮播图后面文字分段显示为不同颜色*/
.slider .banner span {
	color: #f98d0d;
}
.slider .banner i {
	font-style: normal;
	color: #c9e54e;
}
.slider .banner p {
	padding-top: 23px;
	font-size: 24px;
	color: #bdbdbd;
}

/*轮播控制器样式*/
.pagination {
bottom: -50px;
position: absolute;
left: 50%;
margin-left: -53px;
z-index: 999;
}
.pagination li {
	float: left;
}

.pagination li+li {
	margin-left: 7px;
}

.pagination  li a{
	width: 21px;
	display: block;
		transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
	height: 21px;
	background: url(../img/pagination.png) right 0 no-repeat;
}

.pagination li a:hover, .pagination li.current a {
	background-position: 0 0;
}
