.zi{
	 position: absolute;
                width: 100%;
                bottom: 50px;
                left: 0px;
                /*text-align: center;*/
                font-size: 18px;
                color: black;
}
.lijiang{
	float: left;
 	margin: 5px;
                position: relative;
                width: 330px;
                height: 410px;
            }
.whole {
	width: 80%;
	height: auto;
	text-align: center;
	background-color: rgba(192, 132, 242, 0.4);
	/*background-image: url (img/whole.jpg);*/
	margin: 20px auto;
}